/* Center the entire page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.container {
    text-align: center; /* Center text inside the container */
}

.input-container {
    margin-top: 20px;
    max-width: 400px; /* Set a maximum width for the login container */
    padding: 30px; /* Increased padding for the login container */
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pin-inputs {
    margin-top: 20px;
}

.pin-input {
    width: 50px; /* Increased width of input boxes */
    height: 50px; /* Increased height of input boxes */
    font-size: 24px; /* Increased font size for input boxes */
    text-align: center;
    margin-right: 10px; /* Increased margin between input boxes */
}

/* Additional styles for the "Or" text container */
.or-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Adjust vertical margins to create space above and below */
}

.or-text {
    font-size: 20px; /* Adjust font size as needed */
    padding: 0;
}

.title {
    margin: 0%;
}

.subtitle {
    font-size: 15px;
    font-weight: lighter;
    margin: 0%;
}

.button {
    margin-top: 10px; /* Adjusted margin-top for better spacing under the 'Or' text */
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}

button:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}

button:focus {
    outline: none;
}

/* Style for 'ghost' class button */
button.ghost {
    background-color: transparent; /* Transparent background for a subtler look */
    border-color: #FFFFFF; /* White border for contrast on darker backgrounds */
}

/* Added styles for the submit button container */
.submit-container {
    margin-top: 10px; /* Adjust top margin as needed */
}

.username-field {
    width: calc(100% - 40px); /* Calculate the width to be 100% minus the space for the pin-inputs */
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; /* Add margin from the left */
}

.back-link {
    display: block; /* Make the link take its own line */
    margin-top: 15px; /* Space between the submit button and the link */
    color: #000; /* Make the link color black */
    text-decoration: none; /* Remove underline from link */
    font-size: 16px; /* Smaller font size than the button text */
}

.back-link:hover {
    text-decoration: underline; /* Add underline on hover to indicate it's clickable */
}

.full-name-field {
    width: calc(100% - 40px); /* Adjust width as needed */
    height: 50px; /* Match height with other input fields */
    font-size: 24px; /* Match font size with other input fields */
    text-align: center; /* Center text input */
    margin-bottom: 20px; /* Space between this input and the next */
}

.success {
    color: green;
}

.error {
    color: red;
}