body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eef1f5;
  }

  
  .left-panel {
    flex: 1;
    padding: 20px;
    max-width: 300px;
  }
  
  .right-panel {
    flex: 2;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 90vh;
    background-color: #f0f0f0;
  }
  
  .locker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  .locker-wrapper {
    width: 220px; /* Larger lockers */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .locker {
    height: 350px; /* Larger lockers */
    background: linear-gradient(145deg, #ccc, #ddd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .locker:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
  }
  
  .locker input[type="checkbox"]:checked ~ .locker {
    border-color: #4CAF50; /* Green outline when selected */
  }
  
  .checkbox-container {
    padding-top: 10px;
  }
  
  .locker input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .locker input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .button {
    margin-top: 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  