body {
  display: flex;
  font-family: Arial, sans-serif;
}

.left-panel {
  flex: 1;
  padding: 20px;
  max-width: 300px;
}

.right-panel {
  flex: 2;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  padding: 20px;
  height: 90vh;
  background-color: #f0f0f0;
}

.locker {
  width: calc(33.333% - 10px);
  height: 120px;
  background-color: #59da59; /* Light green background */
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  color: white;
  box-sizing: border-box;
  border: 2px solid #006400; /* Dark green border */
  text-shadow: 2px 2px 4px #006400;
  position: relative; /* Add this line */
  transition: background-color 0.3s, transform 0.3s;
}

.price {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  font-size: 18px; 
  color: white; /* Ensure the color contrasts with the background */
}


.locker-number {
  font-size: 20px; 
  font-weight: bold;
}

.size-label { 
   font-style: italic;
   align-self: center;  /* Center the size label */
} 


.locker:hover {
  background-color: #27b127; /* A bit darker green on hover */
  transform: scale(1.05); 
  cursor: pointer;  
}

.locker-selected {
  border: 4px solid #FFD700;
  background-color: #27b127; /* Olive green background for contrast */
}


#checkInSummary {
  border: 1px solid #ddd;
  background-color: #e8f5e9; /* Light green background */
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  color: #333; /* Dark text for better contrast */
}


#checkInSummary p {
  color: #666; /* Medium grey for text */
  margin: 5px 0; /* Small margin for paragraph elements */
}

/* Additional styling for the Credit Card Form for consistency */
#creditCardForm {
  border: 1px solid #ddd;
  background-color: #e8f5e9;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  display: none; /* Initially hidden */
}

#creditCardForm label {
  display: block;
  margin-bottom: 5px;
}

#creditCardForm input[type="text"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#creditCardButton, #submit {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Make the buttons block level for full width */
  margin-top: 20px;
}

#creditCardButton:hover, #submit:hover {
  background-color: #45a049;
}
