        /* General styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
        }

        .reservation-column {
            width: 30%;
            padding: 20px;
            border-right: 1px solid #ccc;
        }

        .lockers-column {
            width: 65%;
            padding: 20px;
        }

        h1 {
            margin-top: 0;
        }

        /* Locker styles */
        .locker-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .locker-square {
            width: 100px;
            height: 100px;
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

        /* Form styles */
        .reservation-form {
            width: 100%;
            max-width: 300px;
            margin-bottom: 20px;
        }

        .form-label {
            display: block;
            margin-bottom: 5px;
        }

        .form-select, .form-button {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
        }

        .form-button {
            background-color: #007bff; /* Default background color */
            color: #fff; /* Text color */
            border: none; /* Remove border */
            padding: 15px 30px; /* Padding for the button */
            font-size: 20px; /* Font size */
            border-radius: 8px; /* Border radius for rounded corners */
            cursor: pointer; /* Change cursor to pointer on hover */
            transition: background-color 0.3s ease; /* Smooth background color transition on hover */
        }
        
        .form-button:hover {
            background-color: #0056b3; /* Darker background color on hover */
        }
        