/* Center the entire page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px; /* Increased font size for the entire page */
}

.container {
    text-align: center; /* Center text inside the container */
}

.login-container {
    margin-top: 20px;
    max-width: 400px; /* Set a maximum width for the login container */
    padding: 30px; /* Increased padding for the login container */
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pin-inputs {
    margin-top: 20px;
}

.pin-input {
    width: 50px; /* Increased width of input boxes */
    height: 50px; /* Increased height of input boxes */
    font-size: 24px; /* Increased font size for input boxes */
    text-align: center;
    margin-right: 10px; /* Increased margin between input boxes */
}

/* Additional styles for the "Or" text container */
.or-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.or-text {
    font-size: 20px; /* Adjust the font size as needed */
    margin: 0;
    padding: 0;
}


.button {
    margin-top: 30px; /* Increased margin above the button */
    padding: 15px 30px; /* Increased padding for the button */
    font-size: 20px; /* Increased font size for the button */
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 8px; /* Increased border radius for smoother corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.button:hover {
    background-color: #2980b9; /* Darker blue background color on hover */
}

button:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}

button:focus {
    outline: none;
}

/* Style for 'ghost' class button */
button.ghost {
    background-color: transparent; /* Transparent background for a subtler look */
    border-color: #FFFFFF; /* White border for contrast on darker backgrounds */
}

/* Added styles for the submit button container */
.submit-container {
    margin-top: 20px; /* Adjust top margin as needed */
}

.username-field {
    width: calc(100% - 40px); /* Calculate the width to be 100% minus the space for the pin-inputs */
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; /* Add margin from the left */
}

/* Locker Page */
h3 {
    text-align: center;
	font-size: 40px;
	font-weight: bold;
    margin: 2;
}

/* Label Styles */
label {
	margin-top: 30px;
}

/* Style for the main container to lay out the form and grid side by side */
.main-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px;
}

/* Style for the search form container */
.locker-search-container {
    background-color: rgb(216, 216, 216);
    border: 2px solid #d3d3d3; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    margin: 40px; 
    border-radius: 20px;
    flex: 2;
    margin-right: 125px; /* Spacing between form and locker grid */
}

/* Style for the locker grid container */
.locker-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    grid-gap: 15px; 
    flex: 3; 
}

/* Style for individual lockers */
.locker {
	background-color: #28cd2e; /* Green background for available lockers */
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
	height: 150px;
    border-radius: 10px;
    position: relative; /* Absolute positioning inside locker */
	transition: transform 0.3s ease; 
}

/* Hover effect for lockers */
.locker:hover {
    transform: scale(1.1);
}

/* Style for form fields */
.form-fields label {
    display: block;
    margin-bottom: 10px;
}

.form-fields input,
.form-fields select {
    width: 120%;
    padding: 15px;
    margin-bottom: 10px;
}

/* Style for reserve and checkout buttons */
#reserve {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#checkout {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for locker status */
.available {
	color:green;
	font-weight: bold;
    margin-top: 60px;
}

.occupied {
	color:red;
	font-weight: bold;
    margin-top: 10px;
}

.userLocker {
	color:yellow;
	font-weight: bold;
    margin-top: 10px;
}