<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartSpace Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Smart Space</h1>
        <div class="login-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/signup" method="POST">
                <h2>Full Name:</h2>
                <input type="text" name="fullName" class="full-name-field" placeholder="Enter full name" autofocus>
                
                <h2>Create a Username:</h2>
                <input type="text" name="username" class="username-field" placeholder="Enter username">
                
                <h2>Create a PIN:</h2>
                <div class="pin-inputs">
                    <input type="text" maxlength="1" name="pin1" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin2" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin3" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin4" class="pin-input" oninput="moveFocus(this, event)">
                </div>
                <div class="submit-container">
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>            
                <a href="/" class="back-link">Back to Login</a>
            </div>
        </div>
    </div>
    <script>
        function moveFocus(currentElement, event) {
            if (event.inputType === 'deleteContentBackward' && currentElement.previousElementSibling) {
                currentElement.previousElementSibling.focus();
            } else if (currentElement.value.length === 1 && currentElement.nextElementSibling) {
                currentElement.nextElementSibling.focus();
            }
        }
    </script>
</body>
</html>
