<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartSpace Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check-in-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Checking In...</h1>
        <h3 class="subtitle">new and existing users</h3>
        <div class="input-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/check-in" method="POST">
                <h2>Full Name:</h2>
                <input type="text" name="fullName" class="full-name-field" placeholder="Enter full name" autofocus>
                
                <h2>Create a Username:</h2>
                <input type="text" name="username" class="username-field" placeholder="Enter username">
                
                <h2>Create a PIN:</h2>
                <div class="pin-inputs">
                    <input type="text" maxlength="1" name="pin1" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin2" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin3" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin4" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin5" class="pin-input" oninput="moveFocus(this, event)">
                </div>
            </form>            
                <a href="/" class="back-link">Back to Home Screen!</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
