<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartSpace Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check-in-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Checking In...</h1>
        <div class="input-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="/check-in" method="POST">
                <h2>Create a Username:</h2>
                <input type="text" name="username" class="username-field" placeholder="Enter username">
                
                <h2>Create a PIN:</h2>
                <div class="pin-inputs">
                    <input type="text" maxlength="1" name="pin1" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin2" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin3" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin4" class="pin-input" oninput="moveFocus(this, event)">
                    <input type="text" maxlength="1" name="pin5" class="pin-input" oninput="moveFocus(this, event)">
                </div>
                <div class="submit-container">
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>
            <a href="/" class="back-link">Back to Home</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var successMessages = document.querySelectorAll('.flash-message.success');
            if (successMessages.length > 0) {
                setTimeout(function() {
                    window.location.href = '/lockers';
                }, 2000);
            }
        });
    </script>
</body>
</html>
